/*Header*/

.navbar {
	margin-bottom: 0px;
}

/*
.jumbotron .titulo-blog{
	font-size: 80px;
}
*/

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #dcd507;
}

.navbar-inverse {
    background-color: #42fb8c;
    border-color: #42fb8c;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #dc9a07;
}

.jumbotron {
	background-color: #10a4dc;
	color:#ffffff;
	padding: 20px 0;
}

/* Post */

.main{
    margin-top: 20px;
    margin-bottom: 20px;
}

.post{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom:1px solid #999;
}

.post .post-title a{
    color:#333;
}

.post .thumb{
    margin-right: 10px;
    width: 40%;
}

.post .thumb img{
    width: 100%
}

.post .contenedor-botones{
    width: 100%;
}

/*Media Query*/

 @media screen and (max-width: 768px){
    .post .thumb{
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
 }